@import '../variables.scss';

.fra-current-time {
    position: absolute;
    width: 100%;
    z-index: 100;

    .bullet {
        background: $alternative-accent-color;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        height: 12px;
        margin-left: -6.5px;
        margin-top: -5px;
        width: 12px;
    }

    .line {
        position: absolute;
        border-top: $alternative-accent-color solid 2px;
        left: 0;
        right: 0;
        pointer-events: none;
    }

}