@import '../utils.scss';
@import '../variables.scss';

.fra-header {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: $controls-header-height;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;

    .fra-header-title {
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .fra-header-type {
        min-height: 36px;
    }

    .fra-headers-controls {
        margin: 8px;
    }

    @include for-small-mobile {
        .fra-button {
            font-size: 12px;
         }
        .fra-headers-controls:nth-child(2) {
            display: none;
        }
    }

    @include for-large-mobile {
        .fra-button {
           font-size: 12px;
        }
        .fra-header-title {
            font-size: 16px;
            font-weight: bold;
        }
    }

}