/**
* COLORS
**/
$primary-color: #455A64;
$secondary-color:#CFD8DC;
$accent-color: #03A9F4;
$alternative-accent-color: #EE6002;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #FAFAFA;

$highlight-color: #ECF0F2;
$highlight-accent-color: #0398DB;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

/**
* MEASURES
**/
$controls-header-height: 48px;
$day-number-size: 46px;
