@import '../variables.scss';
@import '../utils.scss';

.fra-day-column-header {
    width: 100%;
    position: relative;

    h2 {
        position: absolute;
        font-weight: 400;
        margin: 0;
        text-align: center;
        width: 100%;
        overflow: hidden;
    }

    .day-label {
        line-height: 32px;
        position: relative;
        z-index: 5;
        color: $secondary-text-color;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.8px;
        margin-left: 0;
        margin-top: 8px;
        text-indent: 0.8px;
        text-transform: uppercase;
    }


    .day-number {
        font-size: 25px;
        color: $secondary-text-color;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        position: relative;
        z-index: 5;
        height: $day-number-size;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8px;
        width: $day-number-size;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        position: relative;
        outline: none;

        &:hover {
            background-color: $highlight-color;
        }
    }

    .today {
        .day-label {
            color: $accent-color;
        }

        .day-number {
            font-size: 26px;
            line-height: $day-number-size;
            background-color: $accent-color;
            color: $primary-bg-color;

            &:hover {
                background-color: $highlight-accent-color;
            }

            @include for-small-mobile {
                font-size: 14px;
                line-height: calc($day-number-size / 2.3);
                height: calc($day-number-size / 2.3);
                width: calc($day-number-size / 2.3);
                margin-top: 4px;
            }

            @include for-large-mobile {
                font-size: 20px;
                line-height: calc($day-number-size / 1.5);
                height: calc($day-number-size / 1.5);
                width: calc($day-number-size / 1.5);
                margin-top: -1px;
            }
        }
    }

    .day-footer {
        position: absolute;
        bottom: -10px;
        width: calc(100% - 1px);
        height: 26px;
        border-right: 1px solid $secondary-color;
    }

    @include for-small-mobile {
        @include column-width-for-small-mobile;

        .day-number {
            font-size: 14px;
        }

    }

    @include for-large-mobile {
        @include column-width-for-large-mobile;
        .day-number {
            font-size: 20px;
        }
    }
}